<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <level>level</level>
                <thread>thread</thread>
                <message>message</message>
                <logger>logger</logger>
                <stackTrace>stacktrace</stackTrace>
            </fieldNames>
            <includeMdc>true</includeMdc>
            <mdcInclude>correlationId</mdcInclude>
        </encoder>
    </appender>

    <appender name="FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/products-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/products-service.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <level>level</level>
                <thread>thread</thread>
                <message>message</message>
                <logger>logger</logger>
                <stackTrace>stacktrace</stackTrace>
            </fieldNames>
            <includeMdc>true</includeMdc>
            <mdcInclude>correlationId</mdcInclude>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE_JSON"/>
        <appender-ref ref="FILE_JSON"/>
    </root>

    <logger name="org.springframework.web" level="INFO"/>
    <logger name="com.nicholassr.product_service." level="DEBUG"/>

</configuration>